body{
font-family: Arial, sans-serif;
background:#f4f6f9;
}


.hero{
padding:80px 0;
}


.profile-card{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
display:inline-block;
}


.profile-img{
width:150px;
height:150px;
object-fit:cover;
border-radius:50%;
border:5px solid #007bff;
}


.section{
padding:60px 0;
}


.section-title{
color:#007bff;
margin-bottom:20px;
font-weight:bold;
}


.skill-list{
list-style:none;
padding:0;
}


.skill-list li{
background:white;
padding:12px;
margin:8px 0;
border-left:5px solid #007bff;
border-radius:5px;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
transition:0.3s;
}
.education-card ul {
    list-style: none;   /* removes bullet dots */
    padding-left: 0;
}

.education-card li {
    margin-bottom: 6px;
}


.skill-list li:hover{
transform:translateX(5px);
}
#education ul{
    list-style-type: none;
    padding-left: 0;
}

#education li{
    margin-bottom: 6px;
}
